
/* You can add global styles to this file, and also import other style files */
.button{
    Border: 3px outset #0f3dbd;
    border-radius: 20px;
    background-color: #0f3dbd;
    text-align: center;
    color: black;
    cursor: pointer;
    padding: 5px;
    margin: 5px;
}

.button:hover{
    border-style: outset;
    border-color: #2f5edd;
    background-color: #2f5edd;
    cursor: pointer;
}

div{
    margin: 5px;
    padding:5px;
}

/*
TOOLTIP STYLING 
*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }
