
/* You can add global styles to this file, and also import other style files */
body{
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400%;
    animation: gradient 15s ease infinite; */
    background-color:rgb(228, 226, 226);
}
div{
    margin: 5px;
    padding:5px;

    position: relative;
}
h1{
  /* text-shadow: -3px 3px 2px rgb(19, 18, 18); */
  color: black;
  padding-bottom: 5px;
  font-size: 45px;
  font-weight: 700;
  font-family: 'Prata', serif;

  position: relative;
}

/* 
STYLE FOR BUTTONS 
*/
.button{
    Border: 3px outset #241f5c;
    border-radius: 20px;
    background-color: #606dbc;

    text-align: center;
    color: black;
    font-size: large;
    font-family: 'Lato', sans-serif;
    font-weight: 500;

    cursor: pointer;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 5px;

    position: relative;
}

.button:hover{
    border-style: inset;
    border-color: #ffe79b;
    background-color:  #ffe79b;

    cursor: pointer;

    position: relative;
}

.button:disabled{
  opacity: .5;
  background-color: gray;
  border-color: grey;
  color: black;
  cursor: default;

  position: relative;
  
}

.bigContainer{
  display: flex;
  width: 100%;
  justify-content: center;

  position: relative;
  
}

/* 
STYLING FOR FORMS 
*/

.formContainer{
  width: 50%;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 5px;
  margin: 3px;

  position: relative;
}

.littleContainer{
  
  /* background: linear-gradient(-45deg,#a69aff, #eb84ff, #ffe79b, #795bff, #241f5c);
background-size: 400%;
  animation: gradient 15s ease infinite; */

  background: repeating-linear-gradient(
    45deg,
    #606dbc,
    #606dbc 10px,
    #465298 10px,
    #465298 20px
  );
  background-size: 400%;
  /* animation: gradient 15s ease infinite; */
  border-radius: 50px;
  border: 3px solid #795bff;

  position: relative;
}

.form{
  width: 90%;
  padding: 15px;
  margin: 10px;
  border: 3px solid #795bff;
  background-color: aliceblue;
  border-radius: 50px;

  position: relative;
}

.form-group{
  font-size: large;
  font-family: 'Lato', sans-serif;
  font-weight: 500;

  position: relative;
}

.inputLabel{
  font-size: large;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  text-decoration: underline;
  text-decoration-color: #241f5c;

  position: relative;
}

/*
TOOLTIP STYLING 
*/
.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #241f5c;
  }
  
  .tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #241f5c;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
  
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
  }


