.menuChoice{
    margin: 20px;
    padding: 10px;
}

h2{
  text-shadow: 3px 3px 3px #795bff;
  color: black;
  padding-bottom: 10px;
  font-size: 35px;
  font-weight: 500;
  font-family: 'Prata', serif;

  position: relative;

}